.demo3 {
  text-align: center;
  min-width: 100px;
  /*background-color: #999999;*/
}
@font-face{
  font-family:"pxt";
  src:url("../ttf/pxt.TTF");
}
@font-face{
  font-family:"mht";
  src:url("../ttf/mht.ttf");
}