/*.demo3 {*/
/*  text-align: center;*/
/*  min-width: 100px;*/
/*  !*background-color: #999999;*!*/
/*}*/
@font-face {
  font-family:"pxt";
  src: url('../font/pxt.ttf');
}
@font-face{
  font-family:"mht";
  src:url("../font/mht.ttf");
}
div{
    font-family: "mht";
}